
{% load staticfiles %}
<html>
<head>
<link rel="stylesheet" href="{% static "css/jquery-ui.css" %}" type="text/css" media="all" />
<script src="{% static "jquery.min.js"%}"></script>
<script src="{% static "js/1.12.0jquery-ui.min.js" %}"></script>

</head>
<body>
<input type="text" id='email' />
<div id='response'>
</div>
	<form id='techProfile'>
		<input type='text' id='name' placeholder="Name" /><br>
		<input id='college' type='text' placeholder="College" /><br>
		<select id='year'>
			<option value = 1>1</option>
			<option value = 2>2</option>
			<option value = 3>3</option>
			<option value = 4>4</option>
			<option value = 5>5</option>
		</select>
		<br>
		<input id='mobileNumber' type='text' placeholder="mobile" /><br>
		<input id='city' type='text' placeholder="city" /><br>
		Gender:
		<select id='gender'>
			<option value=1>Male</option>
			<option value=0>Female</option>
			
		</select><br>
		<input type='checkbox' name='security' value=1 checked="true" />Security Fee Paid<br>
		<input type='checkbox' name='accom' value=1 />Accommodation <br>
		<select name='hostel' disabled="true">
{% for hostel in hostels %}
<option value="{{hostel.name}}">{{hostel.name}}(capacity = {{hostel.currentCapacity}} + {{hostel.bufferSize}})({{hostel.capacity}})
{% endfor %}
</select>
		<input type='button' id='registration' value='Register Info' />
		<br>
	</form>



	<div id='paymentHistory'>

	</div>
<!--
<form id='offLine'>
Gender:
	<select id='gender'>
			
			<option value=1>Male</option>
			<option value=0>Female</option>

		</select>
		<input type='checkbox' name='security' value=1 checked="true" />Security Fee Paid<br>
		<input type='checkbox' name='accom' value=1 />Accommodation <br>
		<input type="button" value='Register' />
</form>
-->
<script type="text/javascript">

function theAjax(uri,data){
 return $.ajax({
    type:"POST",
    dataType:"json",
    url: uri,
    data : data
 });
};


	$(function(){
   var availableTags = [
        {% for email in emails %}
            "{{email.0}}",
        {%endfor%}
      ];

 $("#email").autocomplete({
        source: availableTags
      });
    });
    // over write the default autocomplete function to match the option starting with term
    $.ui.autocomplete.filter = function (array, term) {
      var matcher = new RegExp("^" + $.ui.autocomplete.escapeRegex(term), "i");
      return $.grep(array, function (value) {
        return matcher.test(value.label || value.value || value);
      });
    };

function resetForm()
{
	$("#name").val("").attr("disabled",false);
	
	$("#college").val("").attr("disabled",false);
	$("#city").val("").attr('disabled', false);
	$("#mobileNumber").val("").attr('disabled', false);
	$("#year").val(1).attr('disabled', false);
	$("input[name=security]").attr('checked', true);
	$("input[name=accom]").attr('checked', false);
	$("select[name=hostel]").attr('disabled', true);
}
$(document).ready(function() {
	$("#techProfile").hide();
	//$("#offLine").hide();
	$("#email").on('keyup click blur',function(event)
	{
		data = {"email":$(this).val()}
		theAjax("/details/",data)
		.done(function(response){
			console.log(response)
			if(response['status'] == 0)
			{
				$("#response").html("Register The TechProfile");
				$("#techProfile").show();
				$("#paymentHistory").html(" ");
				resetForm();
				//$("#offLine").hide();
			}

			else if(response['status'] == 2)
			{
				$("#response").html("Already REgistered!!");
				html = ""
				response['paymentData'].forEach( function(element, index) {
					html +=  "Amount:  "+element['fields']['amount']+"      ";
					html += "Time:  "+element['fields']['timeStamp']+"       ";
					html += "Facility: "+element['fields']['facility']+"<br>";
				});
				$("#paymentHistory").html(html);
				$("#techProfile").hide();
				//$("#offLine").hide();
			}
			else
			{
				$("#paymentHistory").html(" ");
				$("#response").html("Select Gender, TechProfile REgistered!!")
				//$("#offLine").show();
				$("#techProfile").show();
				$("#name").val(response['data']['name']).attr('disabled', true);
				$("#college").val(response['data']['college']).attr('disabled', true);
				$("#mobileNumber").val(response['data']['mobileNumber']).attr('disabled', true);
				$("#year").val(response['data']['year']).attr('disabled', true);
				$("#city").val(response['data']['city']).attr('disabled', true);
				
			}
		});
	});


	$("input[name=accom]").change(function(event) {
		if($(this).prop("checked"))
			$("select[name=hostel]").attr('disabled', false);
		else
			$("select[name=hostel]").attr('disabled', true);
	});


	$("#registration").click(function(event) {
		data = {
			
	"name":$("#name").val(),
	"college":$("#college").val(),
	"mobileNumber":$("#mobileNumber").val(),
	"email":$("#email").val(),
	"gender":$("#gender").val(),
	"year":$("#year").val(),
	"hostel":$("select[name=hostel]").val()

		}
		if($("input[name=security").prop("checked"))
		{
			data['security'] = 1;
		}
		else
		{
			data['security'] = 0;
		}
		if($("input[name=accom]").prop("checked"))
		{
			data['accom'] = 1;
		}
		else
		{
			data['accom'] = 0;
		}
		theAjax("/register/",data)
		.done(function(response){
			if(response['status'] == 1)
			{

				$("#email").val("");
				html = ""
				response['paymentData'].forEach( function(element, index) {
					html +=  "Amount:  "+element['fields']['amount']+"      ";
					html += "Time:  "+element['fields']['timeStamp']+"       ";
					html += "Facility: "+element['fields']['facility']+"<br>";
				});
				$("#paymentHistory").html(html);
				resetForm();
				$("#techProfile").hide();
			}
			else if(response['status'] == 0){
				$("#response").html("The Selected hostel is full !!!");
			}
			else
			{
				$("#response").html("Already REgistered");
			}
		})
		.fail(function(){
			$("#response").html("Please Assign Current Hostel!!!");
		})
	});
});


</script>
</body>
</html>